<link rel="stylesheet" type="text/css" href="/stylesheets/addChild.css" />

<!-- The Modal (contains the Sign Up form) -->
<div id="addChild" class="modal">
    <span onclick="document.getElementById('addChild').classList.remove('show')" class="close" title="Close Modal">&times;</span>
    <form class="modal-content animate" action="">
        <div class="container">
            <h3>Add A Child</h3>
            <label><b>Child Name</b></label>
            <input type="text" placeholder="Enter Child Name" name="name" required>

            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

            <p><br></p>

            <div class="clearfix">
                <button type="button" onclick="document.getElementById('addChild').classList.remove('show')" class="cancel">Cancel</button>
                <button type="submit" class="submit">Submit</button>
            </div>
        </div>
    </form>
</div>