<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <ul class="nav navbar-nav">
      <li>
        <a href="#" id="nav-title">&nbsp Chortle</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#"><span class="glyphicon glyphicon-cogwheel"></span></a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
      </li>
    </ul>
</nav>
