<script src="scripts/nav.js"></script>
<nav class="chortle-navbar">
    <div class="app-name">
        <a href="#" id="chortle-title">Chortle</a>
    </div>
    <div class="chortle-navbar-right">
        <button onclick="showList()" class="dropbtn"><span class="glyphicon glyphicon-user chortle-nav-icon"></span>
        </button>
        <div id="settings" class="dropdown-content">
            <a href="#">Add Child</a>
            <a href="#">Logout</a>
        </div>
    </div>
</nav>