.child-view-container{
    height: 100%;
    flex-direction: row;
}

.chore-list {
    width: 25%;
    min-width: 200px;
    padding: 10px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.chore-detail-container{
    width:30%;
    min-width: 400px;
    margin: 20px;
    margin-right: auto;
    height: 100%;
}