html, body{
    -webkit-flex-direction: column;
    flex-direction: column;
}

.child-view-container{
    display: -webkit-flex;
    display:flex;
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction:column;
    margin:0;
}

.child-view-footer {
    display: none;
}

.chore-detail-container{
    width:100%;
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    margin:0;
}

.approval-balance-container{
    width: 100%;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.approval-container{
    width: 100%;
    min-height: 200px;
    margin-top: 10%;
}

.chore-list{
    padding-top: 20px;
}

