body {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
}

.chortle-navbar{
    background-color: #80BBA7;
    height: 50px;
    width: 100%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    align-items: center;
}

#chortle-title {
    color: white;
    font-family: 'Happy Monkey', cursive;
    font-size: 26pt;
    padding-left: 20px;
    padding-right: 20px;
}

.app-name{
}

.chortle-navbar-right{
    margin-left: auto;
    height: 100%;
}

.chortle-navbar-right > .dropbtn{
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.chortle-nav-icon{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24pt;
    pointer-events: none;
}

.unassigned li {
  margin-left: 35px;
}

.glyphicon {
  color: white;
}

.glyphicon-plus {
  color: #7A7A7A;
}

#add {
    margin-left: 35px;
    background-color: #D4D4D4;
    display: block;
    padding: 6px 15px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 13px;
}

#background {
  background: #F2F2F2;
  width: 23%;
  min-height: 800px;
  height: auto !important;
  height: 800px;
}

#grid {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.inner {
  position: absolute;
  height: 100%;
  width: 100%;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul[dnd-list] .dndPlaceholder {
    background-color: #F2F2F2;
    display: block;
    min-height: 42px;
}

ul[dnd-list] li {
    background-color: #fff;
    box-shadow: 0 1px 7px -1px #DADADA;
    display: block;
    padding: 6px 15px;
    margin-bottom: 20px;
    font-size: 13px;
}

/* https://www.w3schools.com/howto/howto_js_dropdown.asp */
/* Dropdown Button */
.dropbtn {
  border: none;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #72A393;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu */
.show {display:block;}
