body {
  overflow-y: hidden;
  /*overflow-x: hidden;*/
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-dialog {
  width: 40%;
}

.modal-content{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cancel-button {
  float: right;
  margin-right: 10px;
  margin-bottom: 0;
  padding: 0px;
  font-size: 1.3rem;
  padding: 0rem 1.5rem;
  display: block;
  background-color: white;
  border: 1px solid transparent;
  border-color: #80BBA7;
  color: #80BBA7;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

section button {
  float: right;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 0px;
  font-size: 1.3rem;
  padding: 0rem 1.5rem;
  display: block;
  background-color: #80BBA7;
  border: 1px solid transparent;
  color: #FFFFFF;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section button:hover {
  background-color: #FFFFFF;
  color: #80BBA7;
  border-color: #80BBA7;
}

/* Change bootstrap focus colour */
.form-control:focus {
  border-color: #80BBA7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
}

/* Change bootstrap focus colour */
textarea:focus, input:focus, .uneditable-input:focus {   
    border-color: #80BBA7 !important;
    outline: 0 none !important;
}

.btn.sharp {
  border-radius:0 !important;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #33a6cc;
  border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #007299;
  color: #007299;
  box-shadow: none;
}

label {
  display: block;
  font-weight: 300 !important;
}

textarea {
  display: block;
  width: 100%;
}

#chore-title {
  background-color: transparent;
  border: 0px solid;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

.navbar {
  margin-bottom: 0;
  background-color: #80BBA7;
  border-width: 0;
}

.unassigned li {
  margin-left: 35px;
}

#nav-title {
  color: white;
  font-family: 'Happy Monkey', cursive;
  font-size: 1.4em;
}

.glyphicon {
  color: white;
}

.glyphicon-plus {
  color: #7A7A7A;
}

#add {
    margin-left: 35px;
    background-color: #D4D4D4;
    display: block;
    padding: 6px 15px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
}

#background {
  background: #F2F2F2;
  width: 23%;
  min-height: 800px;
  height: auto !important;
  height: 800px;
}

#grid {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.inner {
  position: absolute;
  height: 100%;
  width: 100%;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul[dnd-list] .dndPlaceholder {
    background-color: #F2F2F2;
    display: block;
    min-height: 42px;
}

ul[dnd-list] li {
    background-color: #fff;
    box-shadow: 0 1px 7px -1px #DADADA;
    display: block;
    padding: 6px 15px;
    margin-bottom: 20px;
    font-size: 14px;
}