.chore-list{
    width:25%;
    min-width: 200px;
    padding: 10px;
    flex-wrap: wrap;
}

.kids-lists{
    width:75%;
    display:flex;
    flex-direction:row;
    overflow-x: scroll;
}

.kid-list{
    width:33%;
    min-width: 200px;
    padding: 10px;
}