.chore-list{
    width:25%;
    min-width: 200px;
    padding: 10px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.kids-lists{
    width:75%;
    display: -webkit-flex;
    display:flex;
    flex-direction:row;
    -webkit-flex-direction: row;
    overflow-x: scroll;
}

.kid-list{
    -webkit-flex-direction: column;
    flex-direction: column;
    list-style: none;
}

.kids-chores{
    margin-bottom: auto;
}

.kid-bank {
}


