html, body {
  width: 100%;
  height: 100%;
  position: absolute;
}

body.parent {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

h5 {
  text-align: center;
}

h2 {
  margin:10px;
}

img {
  max-width: 100%;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.currKids li {
  margin-left: 35px;
  text-align: center;
}

#ad-list {
  font: 18px sans-serif;
  padding: 30px;
}

#page {
  margin: 0;
}

#grey-container {
  background-color: lightgray;
  position: relative;
  right: 0;
  bottom: 0;
  height: 100%;
}

.grey-row{
  background-color: lightgray;
}

#side-bar {
  padding: 0;
  background-color: lightgray;
  height: 100%;
}

#cancel {
  background-color: grey;
  border: none;
  width: 100%;
}

#submit {
  background-color: #003434;
  border: none;
  width: 100%;
}

#grid_page{
  height: 100%;
}

.chortle-navbar-right{
  visibility: collapse;
}