<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="/scripts/childDashboard.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/child-dashboard-common.css"/>
  <link rel="stylesheet" type="text/css" media="screen and (max-width: 500px)" href="/stylesheets/child-dashboard-small.css"/>
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 501px)" href="/stylesheets/child-dashboard-large.css"/>
</head>

<body ng-app="childDashboard" ng-controller="childDashboardCtrl">
<% include ../partials/nav.ejs %>

<div class="child-view-container">
    <div class="chore-list">
      <ul dnd-list="models.choreList" class="unassigned"
          dnd-effect-allowed="copy">
        <li ng-repeat="item in models.choreList"
            dnd-draggable="none"
            dnd-disable-if ="true"
            dnd-selected="models.selected = item"
            ng-class="{selected: models.selected === item}">
          {{item.name}}
        </li>
      </ul>
    </div><!-- chore-list -->
  <div ng-if="models.selected" class="chore-detail-container">
    <div class="chore-title">{{models.selected.name}}</div>
    <div class="description-label chore-label">Description</div>
    <div class="chore-description">{{models.selected.description}}</div>
    <div class="chore-value-row">
      <div class="chore-label">Value</div>
      <div class="chore-row-value chore-value">${{models.selected.value}}</div>
    </div>

    <div class="chore-value-row">
      <div class="chore-finished chore-label">Finished Chore</div>
      <div class="chore-row-value checkbox complete-checkbox">
        <label><input type="checkbox" value="chore-complete"></label>
      </div>

    </div>

    <div class="chore-value-row">
      <div class="chore-status chore-label">Status</div>
      <div class="chore-row-value chore-status-value">
        {{models.selected.status}}
      </div>
    </div>
  </div><!-- chore-detail-container -->
  <div class="approval-balance-container">
    <div class="approval-container">
      <div class="chore-approval-label">Chores Waiting for Approval</div>
      <div class="chore-approval-inner">
        <div class="chore-approval-list-container">
          <ul  class="list-unstyled chore-approval-list">
            <li ng-repeat="item in models.pendingApprovalList"
                dnd-draggable="none"
                dnd-disable-if ="true"
                dnd-selected="models.selected = item"
                ng-class="{selected: models.selected === item}">
              <div class="approval-chore-amount">${{item.value}}</div>
              <div class="approval-chore-name">{{item.name}}</div>
            </li>
          </ul>
        </div><!-- chore-approval-list-container -->
        <div class="confetti-picture">
          <img class="img-responsive img-confetti" src="\images\confetti.gif">
        </div>
      </div><!-- chore-approval-inner -->
    </div> <!-- approval-container -->
    <div class="balance-container">
      <div class="piggybank-balance-label">Piggy Bank Balance</div>
      <div class="piggy-bank-balance"><div class="bank-amount">${{models.funds}}</div></div>
    </div> <!-- balance-container -->
  </div> <!-- approval-balance-container -->

</div> <!-- child-view-container -->
<div class="child-view-footer"></div>
</body>
</html>
