<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/registration.css"/>
    <script src="child-registration.js"></script>
</head>

<body ng-app="childrenApp">

<% include ../partials/nav.ejs %>

<div id="grid">
    <div class="row">
        <div class="three columns" id="background">
            <h6></h6>
        </div>
        <div class="two columns">
            <h6></h6>
        </div>
        <div class="seven columns">
            <h6></h6>
        </div>
        <div class="row inner">
            <div class="three columns" ng-controller="childCtrl">
                <br>
                <h5>Current Kids:</h5>
                <ul dnd-list="models.lists.CurrKids" class="currKids">
                    <li ng-repeat="item in models.lists.CurrKids">
                        {{item.name}}
                    </li>
                </ul>
            </div>

            <div class="one columns">
                <h6></h6>
            </div>

            <div class="six columns">
                <div class="container-fluid">

                    <br>

                    <div class="row">
                        <h2>Add A Child Account</h2>
                    </div>

                    <div class="row">
                        <label>Child Name</label>
                        <input type="" name="" class="form-control" id="" value="">
                    </div>

                    <div class="row">
                        <label>Username</label>
                        <input type="" name="" class="form-control" id="" value="">
                    </div>

                    <div class="row">
                        <label>Password</label>
                        <input type="password" name="" class="form-control" id="" value="">
                    </div>

                    <div class="row">
                        <label>Confirm Password</label>
                        <input type="password" name="" class="form-control" id="" value="">
                    </div>

                    <br>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <button type="Cancel" class="btn btn-primary" id="cancel">Cancel</button>
                        </div>

                        <div class="form-group col-md-6">
                            <button type="Submit" class="btn btn-primary" id="submit">Submit</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>