<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/parent-dashboard-common.css"/>
  <link rel="stylesheet" type="text/css" media="screen and (max-width: 500px)" href="/stylesheets/parent-dashboard-small.css"/>
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 501px)" href="/stylesheets/parent-dashboard-large.css"/>
  <script src="/scripts/parentDashboard.js"></script>
</head>

<body ng-app="parentView" ng-controller="parentViewCtrl">
<% include ../partials/nav.ejs %>

<div class="parent-view-container">
    <div class="chore-list">
      <li class="add-chore" id="add"><span class="glyphicon glyphicon-plus"></span><i class="fa fa-plus" aria-hidden="true"></i>&nbsp&nbsp&nbspAdd a chore</li>
      <ul dnd-list="models.template" class="unassigned"
      dnd-effect-allowed="copyMove">
        <li ng-repeat="item in models.choreTemplates"
          dnd-draggable="item"
          dnd-selected="choreClicked(item, $index, 'Unassigned')"
          dnd-effect-allowed="link"
          class="unassigned">
          {{item.name}}
        </li>
      </ul>
    </div>
      <ul class="kids-lists">
        <li ng-repeat=" list in models.childrenLists"
                  class="kid-list">
            <div class="kids-chores">
              <h6 class="kid-name"><span class="glyphicon glyphicon-piggy-bank"></span>{{list.child_name}}</h6>
              <hr>
              <ul dnd-list="list" dnd-inserted="insertedCallback(item,list)">
                  <li ng-repeat="item in list"
                      dnd-draggable="item"
                      dnd-type="item.status"
                      dnd-selected="choreClicked(item)"
                      dnd-moved="movedCallBack(item, list, $index)"
                      dnd-effect-allowed="move"
                      class="background-{{item.status}}">
                      {{item.name}}
                  </li>
              </ul>
            </div>
            <div class="kid-bank" ng-click="showPiggybankModal(list)">
              <h3 class="bank-amount">${{models.childInfo[list.child_id]["piggybank"]}}</h3>
            </div>
        </li>
      </ul>
    </div>

<div id="add-chore-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <input type="text" id="add-chore-title" class="chore-title" placeholder="Enter Chore Title"/>
      </div>
      <div class="modal-body">
        <label for="add-chore-description">Description</label>
        <textarea id="add-chore-description" name="description" rows="4"></textarea>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input id="add-chore-value" type="number" step="any" class="form-control" placeholder="Value" min="0"/>
        </div>
      </div>
      <div class="modal-footer">
        <section>
          <button id="js-trigger-overlay" ng-click="addChoreTemplate()" type="button">Done</button>
        </section>
        <button id="cancel-button" data-dismiss="modal" type="button">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div id="edit-chore-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <input type="text" id="edit-chore-title" class="chore-title" placeholder="Enter Chore Title"/>
      </div>
      <div class="modal-body">
        <label for="edit-chore-description" class="description-label">Description</label>
        <textarea id="edit-chore-description" name="description" rows="4"></textarea>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input id="edit-chore-value" type="number" step="any" class="form-control" placeholder="Value" min="0"/>
        </div>
        </br>
        <select id="selectChild">
        </select>
         <div id="approve">
                 <section class="input-group">
                    <button id="js-trigger-overlay approve-button" ng-click="approveChore()" type="button">Approve</button>
                 </section>
                 </br>
         </div>
      </div>
      <div class="modal-footer">
        <button id="delete-button" ng-click="deleteChore()" type="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        <section>
          <button id="js-trigger-overlay" ng-click="saveChore()" type="button">Save</button>
        </section>
        <button id="cancel-button" data-dismiss="modal" type="button">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="piggybank-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 id="piggybank-modal-title"></h5>
      </div>
      <div class="modal-body">
      <br>
        <p>Please enter the amount you would like to cash out.</p>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input id="cashoutValue" type="number" step="any" class="form-control" min="0"/>
        </div>
        <div id="warning"></div>
        <br>
        <section>
          <button id="js-trigger-overlay" ng-click="emptyPiggybank()" type="button">Yes</button>
        </section>
        <button id="cancel-button" data-dismiss="modal" type="button">Cancel</button>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

<div id="addChild" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Add A Child</h3>
      </div>
      <div class="modal-body">
        <form id="addChildForm">
            <label><b>Child Name</b></label>
            <input type="text" placeholder="Enter Child Name" id="child-name" name="name" required autofocus>

            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" id="child-username" name="username" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" id="child-psw" name="pwd" required>

            <label><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" id="child-psw-repeat" name="pwdRepeat" required>

            <div id="add-child-warning"></div>

            <button class="cancel" data-dismiss="modal" type="button">Cancel</button>
            <button class="submit" type="Submit">Submit</button>

            <p><br></p>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
