<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ../partials/header.ejs %>
</head>

<body ng-app="parentView" ng-controller="parentViewCtrl">
<% include ../partials/nav.ejs %>


<!--<a href="/" class="lang-logo">
      <img src="/images/chortle-logo.png">
</a> -->
<div id="grid">
  <div class="row">
    <div class="three columns" id="background">
      <h6></h6>
    </div>
    <div class="nine columns">
      <h6></h6>
    </div>
    <div class="row inner">
      <div class="three columns">
        <br>
        <li id="add"><span class="glyphicon glyphicon-plus"></span><i class="fa fa-plus" aria-hidden="true"></i>&nbsp&nbsp&nbspAdd a chore</li>

        <ul dnd-list="models.lists.Unassigned" class="unassigned">
          <li ng-repeat="item in models.lists.Unassigned"
              dnd-draggable="item"
              dnd-moved="models.lists.Unassigned.splice($index, 1)"
              dnd-effect-allowed="move"
              class="unassigned">
              {{item.name}}
          </li>
        </ul>
      </div>    
      <div class="three columns">
        <br>
        <h6>Ruby</h6>
        <hr>
        <ul dnd-list="models.lists.Ruby">
          <li ng-repeat="item in models.lists.Ruby"
              dnd-draggable="item"
              dnd-moved="models.lists.Ruby.splice($index, 1)"
              dnd-effect-allowed="move">
              {{item.name}}
          </li>
        </ul>
      </div>
      <div class="three columns">
        <br>
        <h6>Dexter</h6>
        <hr>
        <ul dnd-list="models.lists.Dexter">
          <li ng-repeat="item in models.lists.Dexter"
              dnd-draggable="item"
              dnd-moved="models.lists.Dexter.splice($index, 1)"
              dnd-effect-allowed="move">
              {{item.name}}
          </li>
        </ul>
      </div>
      <div class="three columns">
        <br>
        <h6>Toulouse</h6>
        <!-- <hr width="96%" style="margin-left: 0px;"> -->
        <hr>
        <ul dnd-list="models.lists.Toulouse">
          <li ng-repeat="item in models.lists.Toulouse"
              dnd-draggable="item"
              dnd-moved="models.lists.Toulouse.splice($index, 1)"
              dnd-effect-allowed="move">
              {{item.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="chore-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <input type="text" id="chore-title" placeholder="Enter Chore Title"/>
      </div>
      <div class="modal-body">
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="4"></textarea>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="number" step="any" class="form-control" placeholder="Value"/>
        </div>
      </div>
      <div class="modal-footer">
        <section>
          <button id="js-trigger-overlay" type="button">Done</button>
        </section>
        <button id="cancel-button" data-dismiss="modal" type="button">Cancel</button>
      </div>
    </div>
  </div>
</div>


<script>
var app = angular.module("parentView", ['dndLists']);

app.controller("parentViewCtrl", function($scope, $http) {
  $http.get('chores').
    success(function(data, status, headers, config) {
      $scope.models = data;
    }).
    error(function(data, status, headers, config) {
      console.log("Error accessing chores endpoint");
    });
});

$(function(){
  $("#add").on("click",function() {
    $('#chore-modal').modal('show');
    $('#chore-title').focus();
    return false;
  })
});

// Doesn't work, help pls
$('#chore-modal').on('show.bs.modal', function () {
  window.setTimeout(function ()
  {
    $('#chore-title').focus();
  }, 0);
});
</script>
</body>
</html>
