<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ../partials/header.ejs %>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
<% include ../partials/nav.ejs %>


<!--<a href="/" class="lang-logo">
      <img src="/images/chortle-logo.png">
</a> -->
<div id="grid">
  <div class="row">
    <div class="three columns" id="background">
      <h6></h6>
    </div>
    <div class="nine columns">
      <h6></h6>
    </div>
    <div class="row inner">
      <div class="three columns">
        <br>
        <li id="add"><span class="glyphicon glyphicon-plus"></span><i class="fa fa-plus" aria-hidden="true"></i>&nbsp&nbsp&nbspAdd a chore</li>
        <ul dnd-list="models.lists.Unassigned" class="unassigned">
          <li ng-repeat="item in models.lists.Unassigned"
              dnd-draggable="item"
              dnd-moved="models.lists.Unassigned.splice($index, 1)"
              dnd-effect-allowed="move"
              class="unassigned">
              {{item.name}}
          </li>
        </ul>
      </div>    
      <div class="three columns">
        <br>
        <h6>Ruby</h6>
        <hr>
        <ul dnd-list="models.lists.Ruby">
          <li ng-repeat="item in models.lists.Ruby"
              dnd-draggable="item"
              dnd-moved="models.lists.Ruby.splice($index, 1)"
              dnd-effect-allowed="move">
              {{item.name}}
          </li>
        </ul>
      </div>
      <div class="three columns">
        <br>
        <h6>Dexter</h6>
        <hr>
        <ul dnd-list="models.lists.Dexter">
          <li ng-repeat="item in models.lists.Dexter"
              dnd-draggable="item"
              dnd-moved="models.lists.Dexter.splice($index, 1)"
              dnd-effect-allowed="move">
              {{item.name}}
          </li>
        </ul>
      </div>
      <div class="three columns">
        <br>
        <h6>Toulouse</h6>
        <!-- <hr width="96%" style="margin-left: 0px;"> -->
        <hr>
        <ul dnd-list="models.lists.Toulouse">
          <li ng-repeat="item in models.lists.Toulouse"
              dnd-draggable="item"
              dnd-moved="models.lists.Toulouse.splice($index, 1)"
              dnd-effect-allowed="move">
              {{item.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
var app = angular.module("myApp", ['dndLists']);
app.controller("myCtrl", function($scope) {
      $scope.models = {
        selected: null,
        lists: {
        "Unassigned": [
          {
            name: "Pet the dog",
            description: "",
            value: 0.5,
            completed: false
          }
        ],
        "Ruby": [
          {
            name: "Wash the dishes",
            description: "",
            value: 1,
            completed: false
          },
          {
            name: "Take out the trash",
            description: "Do Thursday evening",
            value: 0.25,
            completed: true
          }
        ],
        "Dexter": [
          {
            name: "Feed the cats",
            description: "",
            value: 0.5,
            completed: false
          }
        ],
        "Toulouse": [
          {
            name: "Do the dishes",
            description: "Dishwasher and dishes in the sink",
            value: 0.5,
            completed: false
          }
        ]
      },

    };
});
</script>
</body>
</html>
