<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/parent-dashboard-common.css"/>
  <link rel="stylesheet" type="text/css" media="screen and (max-width: 500px)" href="/stylesheets/parent-dashboard-small.css"/>
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 501px)" href="/stylesheets/parent-dashboard-large.css"/>
</head>

<body ng-app="parentView" ng-controller="parentViewCtrl">
<% include ../partials/nav.ejs %>

<div class="parent-view-container">
    <div class="chore-list">
      <li class="add-chore" id="add"><span class="glyphicon glyphicon-plus"></span><i class="fa fa-plus" aria-hidden="true"></i>&nbsp&nbsp&nbspAdd a chore</li>
      <ul dnd-list="models.lists.Unassigned" class="unassigned">
        <li ng-repeat="item in models.lists.Unassigned"
          dnd-draggable="item"
          dnd-moved="models.lists.Unassigned.splice($index, 1)"
          dnd-effect-allowed="move"
          class="unassigned">
          {{item.name}}
        </li>
      </ul>
    </div>
    <div class="kids-lists">
      <div class="kid-list">
        <div class="kids-chores">
        <h6 class="kid-name"><span class="glyphicon glyphicon-piggy-bank"></span>Ruby</h6>
        <hr>
        <ul dnd-list="models.lists.Ruby">
          <li ng-repeat="item in models.lists.Ruby"
              dnd-draggable="item"
              dnd-moved="models.lists.Ruby.splice($index, 1)"
              dnd-effect-allowed="move">
              {{item.name}}
          </li>
        </ul>
        </div>
        <div class="kid-bank">
          <h3 class="bank-amount">$6</h3>
        </div>
      </div>
      <div class="kid-list">
        <div class="kids-chores">
        <h6 class="kid-name"><span class="glyphicon glyphicon-piggy-bank"></span>Dexter</h6>
        <hr>
        <ul dnd-list="models.lists.Dexter">
          <li ng-repeat="item in models.lists.Dexter"
              dnd-draggable="item"
              dnd-moved="models.lists.Dexter.splice($index, 1)"
              dnd-effect-allowed="move">
              {{item.name}}
          </li>
        </ul>
        </div>
        <div class="kid-bank">
          <h3 class="bank-amount">$8</h3>
        </div>
      </div>
      <div class="kid-list">
        <div class="kids-chores">
        <h6 class="kid-name"><span class="glyphicon glyphicon-piggy-bank"></span>Toulouse</h6>
        <hr>
        <ul dnd-list="models.lists.Toulouse">
          <li ng-repeat="item in models.lists.Toulouse"
              dnd-draggable="item"
              dnd-moved="models.lists.Toulouse.splice($index, 1)"
              dnd-effect-allowed="move">
              {{item.name}}
          </li>
        </ul>
        </div>
        <div class="kid-bank">
          <h3 class="bank-amount">$5</h3>
        </div>
      </div>
      <div class="kid-list">
          <div class="kids-chores">
            <h6 class="kid-name"><span class="glyphicon glyphicon-piggy-bank"></span>AnotherKid</h6>
            <hr>
            <ul dnd-list="models.lists.Toulouse">
              <li ng-repeat="item in models.lists.Toulouse"
                  dnd-draggable="item"
                  dnd-moved="models.lists.Toulouse.splice($index, 1)"
                  dnd-effect-allowed="move">
                {{item.name}}
              </li>
            </ul>
          </div>
          <div class="kid-bank">
            <h3 class="bank-amount">$10</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="chore-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <input type="text" id="chore-title" placeholder="Enter Chore Title"/>
      </div>
      <div class="modal-body">
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="4"></textarea>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="number" step="any" class="form-control" placeholder="Value"/>
        </div>
      </div>
      <div class="modal-footer">
        <section>
          <button id="js-trigger-overlay" type="button">Done</button>
        </section>
        <button id="cancel-button" data-dismiss="modal" type="button">Cancel</button>
      </div>
    </div>
  </div>
</div>


<script>
var app = angular.module("parentView", ['dndLists']);
app.controller("parentViewCtrl", function($scope, $http) {
  $http.get('chores').
    success(function(data, status, headers, config) {
      $scope.models = data;
    }).
    error(function(data, status, headers, config) {
      console.log("Error accessing chores endpoint");
    });
});

$(function(){
  $("#add").on("click",function() {
    $('#chore-modal').modal('show');
    $('#chore-title').focus();
    return false;
  })
});

// Doesn't work, help pls
$('#chore-modal').on('show.bs.modal', function () {
  window.setTimeout(function ()
  {
    $('#chore-title').focus();
  }, 0);
});
</script>
</body>
</html>
