<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/registration.css"/>
</head>

<body>

<% include ../partials/nav.ejs %>

<!-- http://bootsnipp.com/snippets/featured/basic-register-page -->
<div class="row" id="page">
    <div class="col-md-7 col-md-offset-1">

        <div class="form-group col-md-12"></div>
        <div class="form-group col-md-12"></div>

        <div class="form-group col-md-12">
            <h2 class="dark-grey">Create Your Parent Account</h2>
        </div>

        <div class="form-group col-md-6">
            <label>First Name</label>
            <input type="" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-md-6">
            <label>Last Name</label>
            <input type="" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-md-12">
            <label>Username</label>
            <input type="" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-md-12">
            <label>Email Address</label>
            <input type="" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-md-6">
            <label>Password</label>
            <input type="password" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-md-6">
            <label>Confirm Password</label>
            <input type="password" name="" class="form-control" id="" value="">
        </div>

        <div class="form-group col-md-12"></div>
        <div class="form-group col-md-6"></div>

        <div class="form-group col-md-6">
            <button type="Submit" class="btn btn-primary" id="submit">Register</button>
        </div>

    </div>

    <div class="col-md-3 col-md-offset-1" id="orange-container">
        <div class="row">
            <ul id="ad-list">
                <li>
                    Web Application for parents and their children to communicate and track chore completion
                </li>
                <br>
                <li>
                    Online savings account that allows children to withdraw savings from their parents
                </li>
                <br>
                <li>
                    Intuitive, kid-friendly interface
                </li>
                <br>
                <li>
                    Easy for parents to setup and use
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <img src="/images/piggybank.png">
            </div>
        </div>
    </div>
</div>
</body>
</html>